@import '~vuetify/src/styles/settings/_elevations.scss';

$under-shadow-key-umbra: (
  0: (0px 0px 0px 0px $shadow-key-umbra-opacity),
  1: (0px 2px 1px -2px $shadow-key-umbra-opacity),
  2: (0px 3px 1px -3px $shadow-key-umbra-opacity),
  3: (0px 3px 3px -3px $shadow-key-umbra-opacity),
  4: (0px 2px 4px -2px $shadow-key-umbra-opacity),
  5: (0px 3px 5px -3px $shadow-key-umbra-opacity),
  6: (0px 3px 5px -3px $shadow-key-umbra-opacity),
  7: (0px 4px 5px -4px $shadow-key-umbra-opacity),
  8: (0px 5px 5px -5px $shadow-key-umbra-opacity),
  9: (0px 5px 6px -5px $shadow-key-umbra-opacity),
  10: (0px 6px 6px -6px $shadow-key-umbra-opacity),
  11: (0px 6px 7px -6px $shadow-key-umbra-opacity),
  12: (0px 7px 8px -7px $shadow-key-umbra-opacity),
  13: (0px 7px 8px -7px $shadow-key-umbra-opacity),
  14: (0px 7px 9px -7px $shadow-key-umbra-opacity),
  15: (0px 8px 9px -8px $shadow-key-umbra-opacity),
  16: (0px 8px 10px -8px $shadow-key-umbra-opacity),
  17: (0px 8px 11px -8px $shadow-key-umbra-opacity),
  18: (0px 9px 11px -9px $shadow-key-umbra-opacity),
  19: (0px 9px 12px -9px $shadow-key-umbra-opacity),
  20: (0px 10px 13px -10px $shadow-key-umbra-opacity),
  21: (0px 10px 13px -10px $shadow-key-umbra-opacity),
  22: (0px 10px 14px -10px $shadow-key-umbra-opacity),
  23: (0px 11px 14px -11px $shadow-key-umbra-opacity),
  24: (0px 11px 15px -11px $shadow-key-umbra-opacity)
) !default;

$under-shadow-key-penumbra: (
  0: (0px 0px 0px 0px $shadow-key-penumbra-opacity),
  1: (0px 1px 1px -1px $shadow-key-penumbra-opacity),
  2: (0px 2px 2px -2px $shadow-key-penumbra-opacity),
  3: (0px 3px 4px -2px $shadow-key-penumbra-opacity),
  4: (0px 4px 5px -2px $shadow-key-penumbra-opacity),
  5: (0px 5px 8px -3px $shadow-key-penumbra-opacity),
  6: (0px 6px 10px -3px $shadow-key-penumbra-opacity),
  7: (0px 7px 10px -4px $shadow-key-penumbra-opacity),
  8: (0px 8px 10px -4px $shadow-key-penumbra-opacity),
  9: (0px 9px 12px -5px $shadow-key-penumbra-opacity),
  10: (0px 10px 14px -5px $shadow-key-penumbra-opacity),
  11: (0px 11px 15px -6px $shadow-key-penumbra-opacity),
  12: (0px 12px 17px -6px $shadow-key-penumbra-opacity),
  13: (0px 13px 19px -7px $shadow-key-penumbra-opacity),
  14: (0px 14px 21px -7px $shadow-key-penumbra-opacity),
  15: (0px 15px 22px -8px $shadow-key-penumbra-opacity),
  16: (0px 16px 24px -8px $shadow-key-penumbra-opacity),
  17: (0px 17px 26px -9px $shadow-key-penumbra-opacity),
  18: (0px 18px 28px -9px $shadow-key-penumbra-opacity),
  19: (0px 19px 29px -10px $shadow-key-penumbra-opacity),
  20: (0px 20px 31px -10px $shadow-key-penumbra-opacity),
  21: (0px 21px 33px -11px $shadow-key-penumbra-opacity),
  22: (0px 22px 35px -11px $shadow-key-penumbra-opacity),
  23: (0px 23px 36px -12px $shadow-key-penumbra-opacity),
  24: (0px 24px 38px -12px $shadow-key-penumbra-opacity)
) !default;

$under-shadow-key-ambient: (
  0: (0px 0px 0px 0px $shadow-key-ambient-opacity),
  1: (0px 1px 3px -3px $shadow-key-ambient-opacity),
  2: (0px 1px 5px -4px $shadow-key-ambient-opacity),
  3: (0px 1px 8px -8px $shadow-key-ambient-opacity),
  4: (0px 1px 10px -10px $shadow-key-ambient-opacity),
  5: (0px 1px 14px -14px $shadow-key-ambient-opacity),
  6: (0px 1px 18px -18px $shadow-key-ambient-opacity),
  7: (0px 2px 16px -16px $shadow-key-ambient-opacity),
  8: (0px 3px 14px -14px $shadow-key-ambient-opacity),
  9: (0px 3px 16px -16px $shadow-key-ambient-opacity),
  10: (0px 4px 18px -18px $shadow-key-ambient-opacity),
  11: (0px 4px 20px -20px $shadow-key-ambient-opacity),
  12: (0px 5px 22px -22px $shadow-key-ambient-opacity),
  13: (0px 5px 24px -24px $shadow-key-ambient-opacity),
  14: (0px 5px 26px -26px $shadow-key-ambient-opacity),
  15: (0px 6px 28px -28px $shadow-key-ambient-opacity),
  16: (0px 6px 30px -30px $shadow-key-ambient-opacity),
  17: (0px 6px 32px -32px $shadow-key-ambient-opacity),
  18: (0px 7px 34px -34px $shadow-key-ambient-opacity),
  19: (0px 7px 36px -36px $shadow-key-ambient-opacity),
  20: (0px 8px 38px -38px $shadow-key-ambient-opacity),
  21: (0px 8px 40px -40px $shadow-key-ambient-opacity),
  22: (0px 8px 42px -42px $shadow-key-ambient-opacity),
  23: (0px 9px 44px -44px $shadow-key-ambient-opacity),
  24: (0px 9px 46px -46px $shadow-key-ambient-opacity)
) !default;